@import url("https://fonts.googleapis.com/css?family=Fira+Sans");




body{
	background: var(--tg-theme-bg-color);
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
}


.logo {
    width: 430px;
    height: 200px;
    border: 3px solid var(--tg-theme-button-color);
    border-radius: 18px;
    top: 0;
    left: 0;
  }


#main {

    width: 100%;
    padding: 20px;
    text-align: center;
}


h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

img {
    width: 70px;
    margin: 30px auto;
}

p {
    width: 350px;
    margin: 0 auto;
}

button {
    border: 0;
    border-radius: 20px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}
#form {
    text-align:center;
}
input {
width: 90%;
outline: none;
margin: 10px 5%;
padding: 15px 10px;
font-size: 22px;
border: 3px solid var(--tg-theme-button-color);
border-radius: 18px;
}

input:focus {
border-radius: #db5d5d;
}
